@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&family=Darker+Grotesque:wght@300;400;500;600;700&family=Poppins:wght@200;300;500&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Vollkorn:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&family=Darker+Grotesque:wght@300;400;500;600;700&family=Poppins:wght@200;300;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Vollkorn:wght@400;500;600;700&display=swap');

.react-switch {
  margin-left: 30px;
  margin-top: 20px;
}

#Dark {
  background-color: #383838;
  color: white;
}

#Dark .myList {
  color: white;
}

#Dark .myList2 {
  color: white;
}

#Dark .wrapper{
  width: 370px;
  padding: 25px 30px;
  border-radius: 7px;
  background: #1d1d1d;
  color: white;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}

#Dark .language {
  color: rgb(255, 255, 255);
}

#Dark .navBar {
  box-shadow: 0px 2.98px 7.4px rgba(246, 244, 244, 0.6);
}

#Dark .img-main {
  box-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

#Dark .footer {
  background-color: rgb(39, 38, 38);
  color: rgb(255, 255, 255);
}

#Light {
  background-color: #fff;
  color: black;
}

#contextTheme {
  position: relative;
}

.ThemeStyle {
  position: absolute;
  top: 100px;
  right: 60px;
}

.contextThemeText {
  font-size: 15px;
  font-weight: 400;
  margin-left: 30px;
}

/* Card */

.worksExhibition {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.card {
  width: 175px;
}

.card-body, .card-footer  {
  width: 250px;
  font-family: 'Vollkorn', serif;
}

.bold {
  font-weight: bold;
  margin-left: 20px;
}

.card-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.card-img:hover {
  border: 2px solid #ff4500;
}

.card-container {
  position: relative;
  margin: 10px 30px;
}

.card-icon {
  margin-left: 20px;
}

.five-stars {
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 40vw);
  grid-gap: 15px;
  margin: 50px 30px 100px 30px;
}

.italic {
  font-style: italic;
}

.a-map {
  text-decoration: none;
  color: #ff4500;
  font-weight: bold;
  border: 1px solid rgb(0, 128, 255);
  padding: 3px 10px;
  border-radius: 5px;
}

.card-footer  {
  margin-left: 20px;
}

@media (max-width:1295px) { 
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 60vw);
    grid-gap: 15px;
    margin: 50px 30px 100px 30px;
  }
  }

@media (max-width:912px) { 
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 72vw);
    grid-gap: 15px;
    margin: 50px 30px 100px 30px;
  }

  .card-img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin-top: 20px;
  }
  }

  @media (max-width: 768px) { 
    .cards {
      display: flex;
      flex-direction: column;
      align-items:center;
      margin-left: 0;
    }
  
    .card-img {
      width: 250px;
      height: 500px;
      object-fit: cover;
      object-position: top;
      margin-top: 20px;
    }
    }

/* Footer */

.footer {
  background-color: rgb(235, 234, 234);
  padding: 60px ;
  color: rgb(12, 12, 12);
  text-align: center;
}

.social-contact {
  padding: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
  opacity: 0.9;
}

.social-contact:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* Main */

.MainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.images-Cont {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.images-Container {
  position: relative;
}

.textMainCont {
  margin-left: 30px;
  margin-right: 30px;
}

.descriptionText {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.images-Container:hover .descriptionText {
  opacity: 1;
}

.img-main {
  width: 200px;
  padding: 15px;
  margin: 0px 0px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.2s ease-in-out;
}

.img-main:hover {
  transform: scale(1.1);
  opacity: 1;
}

.title-main2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 60px;
}

.title-main {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  padding: 0 36px;
  margin-top: 40px;
}

.par-main {
  margin: 10px 40px;
  text-align: justify;
}

.par-main::first-letter {
  color: orangered;
  font-weight: bold;
  font-size: 2em;
}

@media (max-width: 768px) { 
  .textMainCont {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .textMainCont {
    margin-left: 0px;
    margin-right: 0px;
  }

  .par-main {
    margin: 10px;
    text-align: justify;
  }

  .MainContainer {
    display: flex;
    flex-direction: column;
    margin: 100px 20px;
  }

  .title-main2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 50px ;
  }

}
@media (max-width: 912px) { 

  .contextThemeText {
    visibility: hidden;
    opacity: 0;
  }

  .react-switch {
    visibility: hidden;
    opacity: 0;
  }

}

/* Navbar */


.navBar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98px 7.4px rgba(0, 0, 0, 0.1);
}

.myImage {
  width: 90px;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid #808080;
  opacity: 0.9;
  padding: 10px;
}

.myList_ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

.myList > li:hover {
  color: #ff4500;
}

.myList > li {
  padding: 10px;
}


.open-menu,
.close-menu {
  display: none;
}


/* Product Page */

.Product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circleStyle0 {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #00aaff;
  border-radius: 50%;
  top: 8px;
  left: -30px;
  opacity: 0.5;
  filter: blur(250px);
}

.circleStyle1 {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color:  rgb(255, 69, 0);
  border-radius: 50%;
  bottom: 8px;
  right: -30px;
  opacity: 0.5;
  filter: blur(250px);
}


.Product-img {
  margin-top: 40px;
  width: 35%;
  border-radius: 10px;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
  /* z-index: 1; */
}

.figure {
  width: min(400px, 100%) ;
  margin: 0 auto;
  margin-top: 50px;
}

.img {
  width: 100%;
  opacity: 0;
  transform: translateY(100%) rotate(80deg);
  transition: all .6s .2s;
}

.unset {
  opacity: 1;
  transform: rotate(0 );
}


/* About */

.AboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 150px;
  margin-top: 0px;
}

.AboutUsText {
  width: 50%;
}

::selection{
  color: #fff;
  background: #5256AD;
}

.wrapper{
  margin-top: 50px;
  margin-left: 40px;
  width: 370px;
  padding: 25px 30px;
  border-radius: 7px;
  background: #edebeb;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
}

.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.wrapper form{
  margin: 35px 0 20px;
}

form .row{
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

form .row label{
  font-size: 18px;
  margin-bottom: 5px;
}
form .row:nth-child(2) label{
  font-size: 17px;
}

form :where(textarea, select, button){
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

form .row textarea{
  resize: none;
  height: 110px;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #999;
}

form .row textarea::-webkit-scrollbar{
  width: 0px;
}

form .row .outer{
  height: 47px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}

form .row select{
  font-size: 14px;
  background: none;
}

form .row select::-webkit-scrollbar{
  width: 8px;
}

form .row select::-webkit-scrollbar-track{
  background: #fff;
}

form .row select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  background: #ff4500;
  transition: 0.3s ease;
}

form button:hover{
  background: #2693e6;
}

.language {
  color: black;
}

.email {
  color: #ff4500;
}

@media(max-width: 768px){
  .wrapper{
   display: none;
  }
  .AboutContainer {
    display: flex;
   flex-direction: column;
    margin-bottom: 150px;
    margin-top: 0px;
  }
  .AboutUsText {
    width: 70%;
  }
  .AboutUsText {
    margin-left: 0px;
  }
  .wrapper {
    margin-left: 0px;
  }
}

/* Artist Page */

.navBar2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98px 7.4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.separator {
  visibility: hidden;
  opacity: 0;
}

.myListUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  cursor: pointer;
  color: black;
}

.myList2 > li:hover {
  color: #ff4500;
  list-style: none;
  text-decoration: none;
}

.myList2 > li {
  padding: 10px;
  text-decoration: none;
}

.worksContainer {
  display: flex;
}

.artistCont {
  margin-left: 30px;
}

.artistName {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  margin-left: 40px;
}

.item{
  height: 35rem;
  min-width: 30rem;
  padding: 2rem;
}

.ai-img{
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.slider{
  display: flex;
  cursor: grab;
}

.gallery{
  margin: 0 20px;
  overflow-x: hidden;
}

.imgArtist {
  width: 300px;
  margin: 20px 80px;
}

.profileCont {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 20px;
}

.profileText {
  margin-right: 130px;
  text-align: justify;
}

@media(max-width: 768px){
  .worksContainer {
    display: flex;
    flex-direction: column;
  }
  .profileCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }
  .profileText {
    margin-right: 20px;
    text-align: justify;
  }
  .react-switch {
    margin-left: 80px;
    margin-top: 135px;
  }
  .contextThemeText {
    font-size: 10px;
    font-weight: 400;
    margin-left: 80px;
  }
  
}

@media(max-width: 750px){

  .separator {
    position: absolute;
    right: 110px;
    color: #ff4500;
    display: flex;
    justify-content:space-between;
    visibility: visible;
    opacity: 1;
  }

  .navBar2 {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-top: 100px;
    margin-bottom: 80px;
    padding:  0px;
    box-shadow: none;
  }
  
  .myListUl {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    list-style: none;
    text-decoration: none;
  }

  a:-webkit-any-link {
    text-decoration: none;
    color: rgb(163, 160, 160);
  }

}

/* Art Styles */

.stylesContainer {
  display: flex;
}

.itemStyleCont {
  margin: auto;
  width: 70vw;
  height: 50vw;
  aspect-ratio: calc(16/9);
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.prevButton {
  position: absolute;
  top:50%;
  left: 16px;
  transform: translateY(-50%);
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 52px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: black;
}

.prevButton:hover {
  background-color: #383838;
}
.nextButton {
  position: absolute;
  top:50%;
  right: 16px;
  transform: translateY(-50%);
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 52px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: black;
}

.nextButton:hover {
  background-color: #383838;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slidesWater {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.EachStylCont {
  margin: 0px ;
}

.underline {
  text-decoration: underline 1px solid #ff4500;
}

.contTextStyle {
  position: relative;
  cursor: pointer;
}

.textStyle {
  width: 95%;
  height: 150px;
  background-image: url(../images/backgroundText.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  opacity: 0.5;
  margin-top: 30px;
  margin-left: 40px;
  transition: transform 0.2s ease-in-out;
  filter: blur(5px); 
  margin-bottom: 10px;
}

.textStyle:hover {
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
} 

.textStyle1 {
  width: 95%;
  height: 150px;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  opacity: 0.5;
  margin-top: 30px;
  margin-left: 40px;
  transition: transform 0.2s ease-in-out;
  filter: blur(5px); 
}

.textStyle1:hover {
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
} 

.textStyle2 {
  width: 95%;
  height: 150px;
  background-image: url(../images/background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  opacity: 0.7;
  margin-top: 30px;
  margin-left: 40px;
  transition: transform 0.2s ease-in-out;
  filter: blur(5px); 
}

.textStyle2:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
} 

.textStyle3 {
  width: 95%;
  height: 150px;
  background-image: url(../images/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  opacity: 0.5;
  margin-top: 30px;
  margin-left: 40px;
  transition: transform 0.2s ease-in-out;
  filter: blur(5px); 
}

.textStyle3:hover {
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
} 

.eventP {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 10px 50px;
  text-align: justify;
  opacity: 1;
}

.eventP::first-letter {
  color: orangered;
  font-weight: bold;
  font-size: 2em;
}

@media (max-width: 933px) { 

  .EachStylCont {
    margin: 0px;
  }

  .stylesContainer {
    display: flex;
    flex-direction: column;
  }

  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .textStyle, .textStyle1, .textStyle2, .textStyle3 {
    width: 95%;
    height: 10px;
    background: none;
    margin: 10px;
    margin-left: 0px;
  }

  .prevButton {
    padding: 12px;
    font-size: 15px;
    width: 40px;
  }

  .nextButton {
    padding: 12px;
    font-size: 15px;
    width: 40px;
  }

  .eventP {
    position: relative;
    margin: 10px 20px 10px 10px;
    text-align: justify;
    opacity: 1;
  }

  .artistName {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    margin-left: 20px;
  }

  .artistName {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
  }

}

/* Events */

.allContainer {
  display: flex;
  justify-content: center;
}

.artistName2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 70px;
  margin-left: 50px;
  font-weight: 400;
}

.circleStyle10 {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color:  #ff4500;
  border-radius: 50%;
  top: 80px;
  left: 80px;
  opacity: 0.3;
  filter: blur(270px);
}


.citiesP {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  font-weight: 700;
}


.citiesContainer {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);  */
  grid-gap: 40px; 
}

.cityItem {
  position: relative;
}

.cityName {
  position: absolute;
  top: -10px; 
  left: 45px; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.cityImage {
  width: 470px;
  margin: 5px 40px;
  border-radius: 10px;
}

.infoContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.itemInfoCont {
  width: 280px;
  border: 1px solid black;
  padding: 10px 20px;
  margin-right: 120px;
  margin-top: 112px; 
  font-family: 'Roboto Condensed', sans-serif;
}

.itemInfoCont2 {
  width: 280px;
  border: 1px solid black;
  padding: 10px 20px;
  margin-right: 120px;
  margin-top: 155px; 
  font-family: 'Roboto Condensed', sans-serif;
}

.itemInfoCont h2, .itemInfoCont2 h2 {
  font-size: 50px;
}

.itemInfoCont h4, .itemInfoCont2 h4 {
  font-size: 20px;
}

.itemInfoCont h3, .itemInfoCont2 h3 {
  font-size: 30px;
}
@media (max-width: 768px) { 
  .artistName {
    text-align: center;
  }
  .allContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cityImage {
    width: 300px;
    margin: 5px 40px;
    border-radius: 10px;
  }
  .infoContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 120px;
  }

  .itemInfoCont, .itemInfoCont2 {
    margin-top: 15px; 
    margin-bottom: 10PX;
  }
  }

/* Projects */

/* .videoCont {
  display: flex;
  justify-content: center;
  padding-top: 200px;
} */

.projectsCont {
  margin: 0;
  background-image: url('../images/scarletback.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.artistName3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  padding-top: 40px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.contactProjects {
  font-family: 'poppins';
  font-size: 30px;
  padding-top: 40px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.contactProjects2 {
  font-family: 'poppins';
  font-size: 20px;
  padding-top: 150px;
  margin-bottom: 100px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.arrow-container {
  position: relative;
  bottom: 20px;
  right: 20px;
}

.arrow {
  position: absolute;
  top: 50px;
  left: 50%;
  animation: bounce 1s infinite alternate;
  color: #ff4500;
  opacity: 0.7;
  font-size: 40px;
}

@keyframes bounce {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(20px);
  }
}

.MuseumCont {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 200;
}

.MuseumCont h2{
  font-family: 'poppins';
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.MuseumCont li {
  font-family: 'poppins';
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.MuseumCont ul {
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .projectsCont {
    margin: 0;
    background-image: none;
  }
  .MuseumCont {
    color: black;
  }
  
  .MuseumCont h2{
    color: black;
    margin: 0 30px;
  }
  
  .MuseumCont li {
    color: black;
  }
  .artistName3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    padding-top: 40px;
    font-weight: 400;
    color: black;
    text-align: center;
  }
  
  .contactProjects {
    font-family: 'poppins';
    font-size: 30px;
    padding-top: 40px;
    font-weight: 400;
    color: black;
    text-align: center;
  }
  
  .contactProjects2 {
    font-family: 'poppins';
    font-size: 20px;
    padding-top: 150px;
    margin-bottom: 100px;
    font-weight: 400;
    color: black;
    text-align: center;
  }
  .artistName3 {
    margin: 30px 30px;
    font-size: 40px;
    padding-top: 80px;
    color: black;
  }
  .react-switch {
    margin-left: 80px;
    margin-top: 15px;
  }
  #Dark .artistName3{
    background-color: #383838;
    color: white;
  }
  #Dark .contactProjects2{
    background-color: #383838;
    color: white;
  }
  #Dark .contactProjects{
    background-color: #383838;
    color: white;
  }
  #Dark .MuseumCont {
    background-color: #383838;
    color: white;
  }
  
  #Dark .MuseumCont h2{
    background-color: #383838;
    color: white;
  }
  
  #Dark .MuseumCont li {
    background-color: #383838;
    color: white;
  }
}

/* Discover */

.allContainer {
  display: flex;
  justify-content: space-around;
}

.discoverCont {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.blockImg {
  display: flex;
  margin-bottom: 40px;
}

.image1 {
  width: 350px;
}

.smallPics {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.smallPicsItem {
  width: 100px;
  margin-bottom: 10px;
}

.discoverTextCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 600px;
  padding: 50px;
}

.textAlign {
  text-align: right;
  margin-bottom: 150px;
}

@media(max-width: 948px) {
  .image1 {
    width: 250px;
    height: 470px;
  }
  .smallPicsItem {
    width: 80px;
    margin-bottom: 5px;
  }
  .discoverTextCont {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px;
  }
  .allContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: rgb(18, 18, 18);
  margin-left: 20px;
}

a:-webkit-any-link:hover {
  text-decoration: none;
  color: #ff4500;
}

/* Buy */

.cartIcon:hover {
  transform: scale(1.1); 
  border: 2px solid #ff4500;
}

.contBuyImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.buyImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}

.buyImg:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  cursor: pointer;
  transform: scale(1.06);
}

.iconCont {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 20vh;
  width: 85vw;
  display: flex;
  margin-left: 70px;
  justify-content:flex-start;
  align-items: flex-start;
}

.InfobuyCont {
  line-height: 7px;
}

.InfobuyCont button {
  background-color: rgba(255, 68, 0, 0.683);
  border: 1px solid #383838;
  border-radius: 5px;
  padding: 7px 20px;
  transition: transform 0.2s ease-in-out;
}

.InfobuyCont button:hover {
  background-color: rgba(32, 109, 194, 0.683);
  border: 1px solid #383838;
  border-radius: 5px;
  padding: 7px 20px;
  transform: scale(1.03);
  cursor: pointer;
}

.count-products {
  margin-top: -22px;
  margin-right: 50px;
  background-color: #ff4500;
  color: #1d1d1d;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}


.cartIcon {
  background-color: rgba(255, 68, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #ff4500;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  z-index: 0;
}

.container-cart-products {
  margin-top: 0px;
  margin-left: 0;
  background-color: #fff;
  width: 370px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}

.closeIcon2 {
  transition: transform 0.2s ease-in-out;
  background-color: #bab8b881;
  border: 2px solid #2693e6;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px
}

.closeIcon2:hover {
  transform: scale(1.1);
  border: 2px solid #ff4500;
}

.closeIcon {
  transition: transform 0.2s ease-in-out;
}

.closeIcon:hover {
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.463);
  border-radius: 50%;
  cursor: pointer;
}

.cart-product {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0, 0.2);
  align-items: center;
}

.info-cart-products {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.title-product-cart {
  font-size: 18px;
}

.price-product-cart {
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 18px;
}

.cart-total {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 20px;
  align-items: center;
}

.cart-total h3 {
  font-size: 22px;
  font-weight: 600;
}

.total-pay {
  font-size: 22px;
  font-weight: 700;
}

#contador-productos {
  font-size: 12px;
}

.hidden-cart {
  display: none;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.btn-clear-all {
  border:none;
  background-color: #1d1d1d;
  color: #fff;
  padding: 15px 0;
  display: block;
  width: 100%;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover {
  background-color: rgba(32, 110, 194, 0.868);
  transform: scale(1.001);
  border-radius: none;
  cursor: pointer;
}

@media(max-width: 948px) {
  .contBuyImg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) {

  .contextThemeText {
    visibility: hidden;
    opacity: 0;
  }

  .react-switch {
    visibility: hidden;
    opacity: 0;
  }

  .open-menu,
  .close-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  #close {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid rgb(38, 147, 230) ;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }

  #close:hover {
    transform: scale(1.1);
    border: 1.5px solid rgb(38, 147, 230) ;
  }

  .open {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(38, 147, 230, 0.7);
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
  }

  .open:hover {
    transform: scale(1.1);
  }

  .navBar {
      position: relative;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .7);
      padding: 2rem;
      z-index: 100;
  }

  .navBar.visible {
      opacity: 1;
      visibility: visible;
      background-color: rgba(200, 199, 199, 0.99);
      width: 200px;
      height: 600px;
  }
  
  .myList_ul {
      flex-direction: column;
      align-items:left;
      color: #edebeb;
      cursor: pointer;
      margin-top: 10px;   
  }

  .myList {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    cursor: pointer;
    margin-top: 20px;   
    margin-right: 30px;
    font-size: 18px
  }


  .myList:hover {
      color: #ff4500;
  }

  .myImage {
    width: 80px;
    pointer-events: none;
    border-radius: 50%;
    border: 1px solid #808080;
    opacity: 0.9;
    padding: 10px;
    margin-right: 27px;
  }

}
